body {
    background-color: #BCC;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    text-align: top;
    -webkit-padding-start: 0;
}

li {
    font-size: 12px;
}

a {
    text-decoration: none;
    font-size: 12px;
    color: #444;
    padding: 0px;
}

.left-frame {
    width: 10%;
    float:  left;
    border-radius: 3px;
    border: 1px solid #788;
}

.right-frame {
    width: 89%;
    float: right;
}

.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.menu-container {
    text-align: left;
    align-content: left;
    width: 100%;
    border-bottom: 1px solid #788;
    margin-top: 0px;
    margin-bottom: -1px;
}

.menu-container > li {
    font-weight: bold;
    margin-bottom: 0px;
    padding: 3px;
    width: 96%;
    text-align: left;
}

.active-menu {
    background-color: #2E8AF7;
    border-radius: 1px;
    color: #FFFFFF;
}

.standard-header {
    background-color: #788;
    padding: 1px;
}

.standard-header > li {
    margin-left: 10px;
    margin-bottom: 5px;
    display: inline-block;
    width: 18%;
    font-weight: bold;
    color: #DDD;
}

.main-container {
    border: 1px solid #788;
    border-radius: 3px;
    width: 60%;
}

.main-content > ul {
    margin: 0 0 0 0;
    padding: 3px;
}

.main-content > ul > li {
    display: inline-block;
    width: 18%;
    margin-left: 5px;
    padding: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.root-list {
    margin-top: 0px;
}

.song-track-number {
    padding: 3px;
    display: inline-block;
    border-spacing: 0px;
    margin-left: -6px;
    width: 5%;
}

.songs-container {
    border-radius: 3px;
    background-color: #BCC;
}

.song-item {
    padding: 3px;
    display: inline-block;
}

.row-0 {
    background-color: #CDD;
}

.row-1 {
    background-color: #BCC;
}

.cover {
    width: 40px;
    height: 40px;
    text-align: left;
    vertical-align: middle;
}

.albums-container {
    width: 99.4%;
    padding: 3px;
}

.album-item {
    padding: 3px;
    display: inline-block;
}

.album-track-number {
    padding: 3px;
    display: inline-block;
    border-spacing: 0px;
    margin-left: -6px;
    width: 5%;
}

.artists-container {
    border-radius: 3px;
    margin-right: 20px;
    width: 99%;
    padding: 5px;
}

.artist-link {
    margin-left: 5px;
    padding: 3px;
}

.artist-item {
    padding: 3px;
    display: inline-block;
    border-spacing: 0px;
    margin-left: -6px;
}

.year-link {
    margin-left: 5px;
    padding: 3px;
}

.years-container {
    border-radius: 3px;
    margin-right: 20px;
    width: 99%;
    padding: 5px;
}

.player-header {
    width: 155px;
    height: 30px;
    margin: 0px auto auto 15px;
}

.player-border {
    border-top: 1px solid #788;
    border-radius: 1px;
    border-bottom: 1px solid #788;
}

#play-button {
    height: 32px; 
    width:  32px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play {
    background: url('/static/lister/images/play.png');
}

.pause {
    background: url('/static/lister/images/pause.png');
}

#timeline {
    width: 100px;
    height: 5px;
    margin-top: 14px;
    float: left;
    border-radius: 3px;
    background: rgba(0,0,0,.3);
    background-color: #888;
}

#play-head {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: -5px;
    margin-left: -1px;
    background: rgba(0, 0, 0,1);
    background-color: #AAA;
    border: 1px solid #777;
}

#current-track {
    font-family: sans-serif;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 0px;
    padding: 3px;
    border-radius: 5px;
    width: 150px;
}

#current-track-title {
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 13px;
    text-align: center;
}

.active-track {
    background-color: #96C5E6;
}

.navigation-buttons {
    padding: 3px;
    display: inline-block;
    width: 18%;
    height: 25px;
    font-family: sans-serif;
    font-size: 13px;
}

.prev-track {
    width: 16px;
    height: 12px;
}

.next-track {
    width: 16px;
    height: 12px;
}

.navigation-buttons-container {
    padding: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.option-buttons-container {
    padding: 1px;
    margin-top: 0px;
    margin-bottom: -10px;
    text-align: center;
}

.truncate-current-track {
    width: 90%;
    margin: auto;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

#current-album {
    margin-top: 3px;
}

#current-track-cover {
    width: 150px;
    height: 150px;
    display: block;
    margin: 5px auto;
}

.shuffle-button-on {
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
    border: none;
    background: url('/static/lister/images/shuffle_on.png');
    margin-left: 10px;
    float: left;
}

.shuffle-button-off {
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
    border: none;
    background: url('/static/lister/images/shuffle_off.png');
    margin-left: 10px;
    float: left;
}

.volume-up-button {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
    border: none;
    background: url('/static/lister/images/volume_up.png');
    float: right;
    margin-right: 10px;
}

.volume-down-button {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
    border: none;
    background: url('/static/lister/images/volume_down.png');
    float: right;
    margin-right: 10px;
}

.cycle-button-off {
    width: 17px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
    border: none;
    background: url('/static/lister/images/repeat_off.png');
    float: left;
    margin-left: 10px;
}

.cycle-button-on {
    width: 17px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
    border: none;
    background: url('/static/lister/images/repeat_on.png');
    float: left;
    margin-left: 10px;
}

#song-time {
    font-family: sans-serif;
    font-weight: bold;
    width: 60px;
}

.finder-box {
    width: 30%;
    height: 25px;
    border-radius: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    border: 0;
    border: 1px solid #aaa;
    font-family: sans-serif;
    font-size: 18px;
    background-color: #DDD;
    display: inline;
    list-style-type: none;
}

.navigation-element {
    display: inline;
    list-style-type: none;
    margin-left: -5px;
    padding: 8px;
    background-color: #91BAEA;
}
