body {
    background-color: #CCC;
}

ul {
    list-style-type: none;
    text-align: top;
}

.left-content {
    float: left;
    width: 20%;
}

.right-content {
    float: right;
    width: 80%;
}

.cover_image {
    width: 80px;
    height: 80px;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 16px;
    float: left;
    display: inline-block;
}

.right-frame {
    width: 89%;
    float: right;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.song-item {
    padding: 3px;
    display: inline-block;
    border-spacing: 0px;
    margin-left: -6px;
    width: 18%;
}

.header-item {
    padding: 3px;
    display: inline-block;
    border-spacing: 0px;
    margin-left: -6px;
    width: 18%;
    color: red;
}

.song-track-number {
    padding: 3px;
    display: inline-block;
    border-spacing: 0px;
    margin-left: -6px;
    width: 5%;
}

.song-link {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    color: #666;
}

.header-link {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    color: #33A;
}

.songs-header {
    border: 1px solid #AAA;
    border-radius: 3px;
    background-color: #888;
    margin-left: 80px;
    margin-right: 20px;
    width: 60%;
}

.songs-container-1 {
    border: 1px solid #AAA;
    border-radius: 3px;
    background-color: #DDD;
    margin-left: 80px;
    margin-right: 20px;
    width: 60%;
}

.songs-container-0 {
    border: 1px solid #AAA;
    border-radius: 3px;
    background-color: #CCC;
    margin-left: 80px;
    margin-right: 20px;
    width: 60%;
}
.menu-item {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px strong;
    color: #666;
}

.menu-link {
    text-decoration: none;
    font-family: sans-serif;
    margin-bottom: 0px;
    margin-left: -30px;
    margin-right: 0px;
    color: #666;
    padding: 3px;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    border: 1px solid #AAA;
}

.row-0 {
    background-color: #BBB;
}

.row-1 {
    background-color: #DDD;
}

.menu-container {
    text-align: left;
    align-content: left;
    border-radius: 5px;
}

.left-frame {
    width: 10%;
    float:  left;
}

.cover {
    width: 80px;
    height: 80px;
    text-align: left;
    vertical-align: middle;
}

.album-item {
    padding: 3px;
    display: inline-block;
    border-spacing: 0px;
    margin-left: -6px;
    width: 100%;
}

.album-track-number {
    padding: 3px;
    display: inline-block;
    border-spacing: 0px;
    margin-left: -6px;
    width: 5%;
}

.album-link {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    color: #666;
    margin-left: 5px;
}

.albums-container {
    border: 1px solid #AAA;
    border-radius: 3px;
    margin-left: 80px;
    margin-right: 20px;
    width: 60%;
}

.cover_image {
    width: 80px;
    height: 80px;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 16px;
    float: left;
    display: inline-block;
}

.artist-link {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    color: #666;
    margin-left: 5px;
    padding: 3px;
}

.artists-container-1 {
    border: 1px solid #AAA;
    border-radius: 3px;
    background-color: #DDD;
    margin-left: 80px;
    margin-right: 20px;
    width: 60%;
    padding: 5px;
}

.artists-container-0 {
    border: 1px solid #AAA;
    border-radius: 3px;
    background-color: #CCC;
    margin-left: 80px;
    margin-right: 20px;
    width: 60%;
    padding: 5px;
}

.year-link {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    color: #666;
    margin-left: 5px;
    padding: 3px;
}

.years-container-1 {
    border: 1px solid #AAA;
    border-radius: 3px;
    background-color: #DDD;
    margin-left: 80px;
    margin-right: 20px;
    width: 60%;
    padding: 5px;
}

.years-container-0 {
    border: 1px solid #AAA;
    border-radius: 3px;
    background-color: #CCC;
    margin-left: 80px;
    margin-right: 20px;
    width: 60%;
    padding: 5px;
}

.player-border{
    width: 150px;
    height: 30px;
    margin: 20px auto auto 10px;
    border: 2px solid #AAA;
    border-radius: 5px;
}

#play-button {
    height: 32px; 
    width:  32px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play{background: url('/static/lister/images/play.png') ;}
.pause{background: url('/static/lister/images/pause.png') ;}

#timeline {
    width: 100px;
    height: 7px;
    margin-top: 12px;
    float: left;
    border-radius: 15px;
    background: rgba(0,0,0,.3);
    background-color: #888;
}

#play-head {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: -4px;
    margin-left: -1px;
    background: rgba(0, 0, 0,1);
    background-color: #AAA;
    border: 1px solid black;
}

#current-track {
    text-decoration: none;
    font-family: sans-serif;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 0px;
    color: #666;
    padding: 3px;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    border: 1px solid #AAA;
}
