{% extends "lister/main_content.html" %} {% block content %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Search Player</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'lister/main.css' %}" />
</head>

<body>
    <div class="main-wrapper">
        <div class="wrapper-content">
            <div class="mainsearch">
                    <div class="mainsearch-wrapper">
                        <form class="mainsearch-form" action="#" method="post">
                            <div class="mainsearch-input-wrapper">
                                <input id="main-input" class="mainsearch-input" type="search" placeholder="search title, artist or album" autofocus>
                            </div>
                            <input class="mainsearch-submit" type="submit" value="&#9906;"/>
                        </form>
                    </div>
            </div>
            <div class="player-controls">
                <audio id="audioplayer"></audio>
                <div id="play-pause-button" class="play-button">
                </div>
                <div id="prev-button">
                </div>
                <div id="next-button">
                </div>
                <div id="timeline-container">
                    <div id="timeline"></div>
                    <div id="timeline-head"></div>
                </div>
                <div id="song-time-container">
                    <div id="song-time">
                        00:00
                    </div>
                </div>
                <div id="current-track">
                    <img id="current-track-cover" src="{% static 'lister/images/missing_cover.png' %}">
                    <span id="current-title" class="truncate">
                        No current track
                    </span>
                    <span id="current-artist" class="truncate">
                    </span>
                </div>
            </div>
            {{ block.super }}
        </div>
    </div>    
</body>
<script src="{% static 'lister/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'lister/jquery-ui.min.js' %}"></script>
<script src="{% static 'lister/main.js' %}"></script>
<script src="{% static 'lister/mustache.js' %}"></script>

</html>
{% endblock %}
