{% extends "base.html" %} {% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<div class="highscores-container">
<div class="greeting">Current Hangman highscores:</div>
{% for highscore in highscores %}
    <ul class="highscores">
    {% for username, score in highscore.iteritems() %}
        <li class="username">{{ username }} : {{ score }}</li>
    {% endfor %}
    </ul>
    {% endfor %}
</div>

<div class="hangman-container">
    <p class="hangman"><a href="{{ url_for('hangman') }}">Play Hangman</a></p>
</div>
{% endblock %}