{% extends "base.html" %} {% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pong.css') }}">

<div class="explanation-container">
    <ul>
        <li>
            <span class="explanation">Player One keys: Arrow Up and Arrow Down.</span>
        </li>
        <li>
            <span class="explanation">Player Two Keys: W to go up and S to go down.</span>
        </li>
        <li>
            <span class="explanation">If you let the ball get past your paddle, your opponent scores a point.</span>
        </li>
        <li>
            <span class="explanation">The ball's movement becomes a bit faster with every rebound.</span>
        </li>
        <li>
            <span class="explanation">There is no score limit, you can go on as much as you want.</span>
        </li>
    </ul>
</div>
<div class="game-container">
    <canvas id="gameCanvas" width="800" height="480"></canvas>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/pong.js') }}">
</script> {% endblock %}