body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.header-line, .header-line a {
    text-decoration: none;
    color: #fff;
}

.header-line a {
  background: #ebebeb;
  color: #000;
  padding: 4px;
  border-radius: 5px;
}