body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.explanation-container {
  width: 420px;
  background: #ebebeb;
  padding: 12px;
  border-radius: 5px;
  align-content: center;
  margin: auto;
  color: #000;
}

.explanation {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.game-container {
  width: 100%;
  text-align:center;
  margin-top: 10px;
}

#gameCanvas {
  display: inline;
}