body {
    background: #456;
    font-family: 'Open Sans', sans-serif;
}

.greeting {
    margin-bottom: 10px;
}

.highscores-container {
  width: 220px;
  background: #ebebeb;
  padding: 12px;
  border-radius: 5px;
  align-content: center;
  margin: auto;
}

.highscores {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.game-link-container {
  width: 245px;
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin: 5px auto;
  border-radius: 5px;
  padding: 1px;
}

.game-link-container a {
    text-decoration: none;
}

.game-link:hover {
  background: #17c;
}

.game-link:focus {
  border-color: #05a;
}