<div class="right-frame" id="content-frame">
    <ul class="root-list">
        <div class="main-container">
            <div id="header">
                <ul class="standard-header">
                    <li>Album</li>
                </ul>
                <div>
                {% verbatim %}{{#albums_list}}
                    <ul class="albums-container row-{{row_type}}">
                        <li class="album-item truncate">
                            <a class="album-link" href="/lister/albums/{{ album_id }}"><img class="cover" src="{{ image_file }}"> {{album}} - {{artist}} ({{year}})</a>
                        </li>
                    </ul>
                {{/albums_list}}{% endverbatim %}
                </div>
            </div>
        </div>
    </ul>
</div>
