<ul class="root-list">
    <div class="main-container" id="content-frame">
        <div id="header">
            <ul class="standard-header">
                <li>Artist</li>
            </ul>
            <div class="main-content">
            {% verbatim %}{{#artists_list}}
                <ul class="artists-container row-{{row_type}}">
                    <li class="artist-item truncate">
                        <a class="artist-link" href="#" onclick="showSingleArtist({{ artist_id }});return false;">{{ artist }}</a>
                    </li>
                </ul>
            {{/artists_list}}{% endverbatim %}
            </div>
        </div>
    </div>
</ul>
