<ul class="root-list">
    <div class="main-container">
        <div id="header">
            <ul class="standard-header">
                <li>Artist</li>
            </ul>
            <div>
                {% load mathfilters %} {% load static %} {% for artist in artists_list %}
                <ul class="artists-container row-{{ forloop.counter|mod:2 }}">
                    <li class="artist-item truncate">
                        <a class="artist-link" href="/lister/artists/{{ artist.artist_id }}">{{ artist.artist }} ({{ artist.count }})</a>
                    </li>
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</ul>
