<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Available songs</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'lister/main.css' %}" />
        <script src="{% static 'lister/jquery-3.1.1.min.js' %}"></script>
    </head>
    <body>
        <div class="left-frame">
            <ul class="menu-container">
                <div>
                    <li class="menu-link menu-link-0"><a class="menu-item" href="/lister/songs/">Songs</a></li>
                    <li class="menu-link menu-link-1"><a class="menu-item" href="/lister/albums/">Albums</a></li>
                    <li class="menu-link menu-link-0"><a class="menu-item" href="/lister/artists/">Artists</a></li>
                    <li class="menu-link menu-link-1"><a class="menu-item" href="/lister/years/">Years</a></li>
                </div>
            </ul>
            <audio id="music" preload="true">
                <source src="http://www.alexkatz.me/codepen/music/interlude.mp3">
            </audio>
            <div id="audioplayer">
                <button id="pButton" class="play" onclick="play()"></button>
                <div id="timeline">    
                    <div id="playhead">
                    </div>
                </div>
            </div>
        </div>
        <div class="right-frame">
            {% if songs_list %}
                <ul>
                    <div>
                        <ul class="songs-header">
                            <li class="header-item"><a class="header-link truncate" href="/lister/play/{{ song.id }}/">Title</a></li>
                            <li class="header-item"><a class="header-link truncate" href="/lister/play/{{ song.id }}/">Artist</a></li>
                            <li class="header-item"><a class="header-link truncate" href="/lister/play/{{ song.id }}/">Album</a></li>
                            <li class="header-item"><a class="header-link truncate" href="/lister/play/{{ song.id }}/">Year</a></li>
                            <li class="header-item"><a class="header-link truncate" href="/lister/play/{{ song.id }}/">Track n.</a></li>
                        </ul>
                        {% load mathfilters %}
                        {% for song in songs_list %}
                            <ul class="songs-container-{{ forloop.counter|mod:2 }}">
                                <li class="song-item truncate"><a class="song-link" href="/lister/play/{{ song.id }}/">{{ song.title }}</a></li>
                                <li class="song-item truncate"><a class="song-link" href="/lister/play/{{ song.id }}/">{{ song.artist }}</a></li>
                                <li class="song-item truncate"><a class="song-link" href="/lister/play/{{ song.id }}/">{{ song.album }}</a></li>
                                <li class="song-item truncate"><a class="song-link" href="/lister/play/{{ song.id }}/">{{ song.year }}</a></li>
                                <li class="song-track-number truncate"><a class="song-link" href="/lister/play/{{ song.id }}/">{{ song.track_number }}</a></li>
                            </ul>
                        {% endfor %}
                    </div>
                </ul>
            {% else %}
                <p>No songs are available.</p>
            {% endif %}
        </div>
    </body>
</html>

<script src="{% static 'lister/main.js' %}"></script>
