{% extends "lister/left_menu.html" %} {% block content %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Available songs</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'lister/main.css' %}" />
</head>

<!-- {% verbatim %} {% endverbatim %}
 -->
<body>
    {{ block.super }}
    <div class="right-frame">
        <ul class="root-list">
            <div class="main-container">
                <div id="header">
                    <ul class="standard-header">
                        <li>Title</li>
                        <li>Artist</li>
                        <li>Album</li>
                        <li>Year</li>
                        <li>Track</li>
                    </ul>
                </div>
                <div id="playlist" class="main-content">
                {% verbatim %}{{#songs_list}}
                    <ul class="row-{{row_type}}">
                        <li>
                            <a onclick="playTrack({{track_index}});return false;" data-index="{{track_index}}" data-path="" href="#">{{title}}</a>
                        </li>
                        <li>{{artist}}</li>
                        <li>{{album}}</li>
                        <li>{{year}}</li>
                        <li>{{track}}</li>
                    </ul>
                {{/songs_list}}{% endverbatim %}
                </div>
            </div>
        </ul>
    </div>
</body>
<script src="{% static 'lister/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'lister/main.js' %}"></script>
<script src="{% static 'lister/mustache.js' %}"></script>

</html>
{% endblock %}
