{% block content %}
        <div class="left-frame">
            <ul class="menu-container">
                <div>
                    <li class="menu-link row-0"><a class="menu-item" href="/lister/songs/">Songs</a></li>
                    <li class="menu-link row-1"><a class="menu-item" href="/lister/albums/">Albums</a></li>
                    <li class="menu-link row-0"><a class="menu-item" href="/lister/artists/">Artists</a></li>
                    <li class="menu-link row-1"><a class="menu-item" href="/lister/years/">Years</a></li>
                </div>
            </ul>
            <audio id="audioplayer" preload="true">
                <source src="">
            </audio>
            <div class="player-border">
                <button id="play-button" class="play" onclick="play()"></button>
                <div id="timeline">    
                    <div id="play-head">
                    </div>
                </div>
            </div>
            <div id="current-track">
                TEST TRACK
            </div>
        </div>
{% endblock %}
