<ul class="root-list">
    <div class="main-container">
        <div id="header">
            <ul class="standard-header">
                <li>Title</li>
                <li>Artist</li>
                <li>Album</li>
                <li>Year</li>
                <li>Track</li>
            </ul>
        </div>
        <div id="search-results" class="main-content">
        {% verbatim %}{{#search_results}}
            <ul class="row-{{row_type}}">
                <li>
                    <a onclick="playTrack({{track_index}});return false;" data-index="{{track_index}}" data-path="" href="#">{{title}}</a>
                </li>
                <li>{{artist}}</li>
                <li>{{album}}</li>
                <li>{{year}}</li>
                <li>{{track}}</li>
            </ul>
        {{/search_results}}{% endverbatim %}
        </div>
        <div id="playlist" class="main-content">
        {% verbatim %}{{#playlist}}
            <ul class="row-{{row_type}}">
                <li>
                    <a onclick="playTrack({{track_index}});return false;" data-index="{{track_index}}" data-path="" href="#">{{title}}</a>
                </li>
                <li>{{artist}}</li>
                <li>{{album}}</li>
                <li>{{year}}</li>
                <li>{{track}}</li>
            </ul>
        {{/playlist}}{% endverbatim %}
        </div>
    </div>
</ul>
