<ul class="root-list">
    <div class="main-container">
        <div id="header">
            <ul class="standard-header">
                <li>Year</li>
            </ul>
            <div>
                {% load mathfilters %} {% load static %} {% for year in years_list %}
                <ul class="years-container row-{{ forloop.counter|mod:2 }}">
                    <li class="year-item truncate">
                        <a class="year-link" href="#" onclick="showSingleYear({{ year.year }});return false;">{{ year.year }} ({{ year.count }})</a>
                    </li>
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</ul>
