body {
    background-color: #BBCCCC;
    font-family: 'Enriqueta', arial;
}

.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}


/*
 Main content styling
*/

.wrapper-content {
    position: relative;
}

#container-frame {
    width: 50%;
    margin: 5px auto;
    background-color: #CCD4D4;
    border-radius: 35px;
    border: 5px solid #888;
    color: #444;
    position: relative;
}

.standard-header {
    background-color: #C2C5C5;
    margin-left: -30px;
    margin-top: -16px;
    width: 98%;
    border-radius: 19px;
}

.standard-header>li {
    display: inline-block;
    color: #444;
    font-weight: bold;
    padding: 10px 5px;
    margin-left: -5px;
}

.title {
    width: 33%;
}

.artist {
    width: 15%;
}

.album {
    width: 25%;
}

.year {
    width: 10%;
}

.track {
    width: 7%;
}

.main-content {
    margin-left: -30px;
    display: none;
}

.main-content>ul {
    border-radius: 35px;
}

.main-content>ul:hover {
    background-color: #BBCCCC;
    font-weight: bold;
}

.active-track {
    background-color: #BBCCCC;
    font-weight: bold;
}

.main-content>ul>li {
    display: inline-block;
    /* width: 18%; */
    padding: 10px 5px;
    border-bottom: 1px solid #999;
    margin-left: -5px;
    margin-bottom: -4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.player-controls>div {
    display: inline-block;
    margin-top: 5px;
}

.player-controls {
    margin: 0px auto;
    width: 50%;
    position: relative;
}

.play-button {
    background: url('/static/lister/images/play.png');
    width: 64px;
    height: 64px;
}

.play-button:hover {
    background: url('/static/lister/images/play_hover.png');
    width: 64px;
    height: 64px;
}

.pause-button {
    background: url('/static/lister/images/pause.png');
    width: 64px;
    height: 64px;
}

.pause-button:hover {
    background: url('/static/lister/images/pause_hover.png');
    width: 64px;
    height: 64px;
}

#prev-button {
    background: url('/static/lister/images/prev_track.png');
    width: 64px;
    height: 64px;
}

#prev-button:hover {
    background: url('/static/lister/images/prev_track_hover.png');
    width: 64px;
    height: 64px;
}

#next-button {
    background: url('/static/lister/images/next_track.png');
    width: 64px;
    height: 64px;
}

#next-button:hover {
    background: url('/static/lister/images/next_track_hover.png');
    width: 64px;
    height: 64px;
}

#timeline-container {
    height: 64px;
    width: 50%;
    margin-right: -1px;
}

#timeline {
    background-color: #CCC;
    width: 100%;
    height: 5px;
    border: 5px solid #888;
    border-radius: 15px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#timeline-head {
    width: 10px;
    height: 10px;
    border: 10px solid #888;
    border-radius: 50%;
    background-color: #888;
    top: 2px;
}

#current-track {
    position: relative;
    left: 7%;
    width: 20%;
}

#current-track>img {
    width: 64px;
    height: 64px;
    border-radius: 15px;
}

#current-track>#current-title {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 16px;
    width: 72%;
}

#current-track>#current-artist {
    position: absolute;
    top: 60%;
    margin-left: 5px;
    font-size: 16px;
    width: 72%;
}

#song-time-container {
    display: inline-block;
}

#song-time {
    width: 2%;
    margin-top: 24px;
    margin-left: 20px;
    font-family: 'Enriqueta', arial;
    font-weight: bold;
    font-size: 18;
    position: absolute;
    top: 6%;
}

a {
    text-decoration: none;
    color: #444;
}

.regex-hint-container {
    margin-left: 20px;
}

.regex-hint {
    font-size: 13px;
    color: #7d7d7d;
}


/*
 Search box styling
*/

.mainsearch-wrapper {
    height: auto;
    width: auto;
    max-width: 50%;
    overflow: hidden;
    background: transparent;
    margin: 0;
    position: static;
    -webkit-padding-start: 0;
    margin: 0 auto;
}

.mainsearch-form {
    overflow: hidden;
    position: relative;
}

.mainsearch-input-wrapper {
    padding: 0 66px 0 0;
    overflow: hidden;
}

.mainsearch-input {
    width: 100%;
}


/***********************
 * Configurable Styles *
 ***********************/

.mainsearch {
    padding: 0 0px 0 0px;
    /* Padding for other horizontal elements */
}

.mainsearch-input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 0 46px 0 10px;
    border-color: #888;
    border-radius: 35px;
    /* (height/2) + border-width */
    border-style: solid;
    border-width: 5px;
    margin-top: 15px;
    color: #333;
    font-family: 'Enriqueta', arial;
    font-size: 26px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.mainsearch-submit {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    margin-top: 9px;
    margin-right: 5px;
    background: transparent;
    color: #888;
    font-family: 'Enriqueta', arial;
    font-size: 40px;
    line-height: 60px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.mainsearch-input:focus {
    outline: none;
    border-color: #333;
}

.mainsearch-input:focus.mainsearch-submit {
    color: #333;
}

.mainsearch-submit:hover {
    color: #333;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #888;
}

input:-moz-placeholder {
    color: #888
}